.row{
    display:block;
    background-color: red;
    padding: 20px;
    border-style: hidden;
    margin: 0px;
    width:2000px;
}

.row h2{
    
    background-color: red;
    color:white;
    width:500px;
    height:100px; 
    padding:30px;
    margin:0px;
    font-family: 'Teko', sans-serif;
    font-size: 80px;
        
    
}

.nav{
    width:500px;
    height:100px; 
    padding:60px;
    margin: 0px;
    
    text-align: right;
    
    color: white;  
}

.nav a{
    display:inline;
    position:static;
    width:100px;
    margin: 20px;;    
    padding:20px;
    font-size:30px;
    color: white;
    
        
    
}

 a:hover{
    background-color: white;
    color:red !Important;
    text-decoration: none !Important;
    
    
}


.jumbotron{
    margin:0px;
    height:500px;
    display: inline;
    width:500px;
}

.jumbotron .col-md-12{
    padding: 0px;
    
}
